body {
  margin: 0;
}

body, input, button {
  font: 15vw/1.5 sans-serif;
  color: #5E6973;
}

button {
  background: none;
  border: 0;
  padding: 0;
  display: block;
}

a:focus, button:focus {
  outline: none;
}

.app {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.timer {
  width: 100vw;
  height: 70vh;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
}

.count {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stopped .count {
  box-sizing: border-box;
  position: relative;
  width: 25vw;
  padding: 2vw;
}

.started .count {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70vh;
  opacity: 0;
  pointer-events: none;
  flex-direction: column;
  align-items: center;
  font-size: 50vw;
}

.started .count.active {
  opacity: 1;
}

.started .count.reps {
  width: 30vw;
  height: 30vh;
  top: 70vh;
  left: 70vw;
  opacity: 1;
  font-size: inherit;
}

.started .count.reps > .count-bg {
  display: none;
}

.count > .count-bg {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all linear .2s;
  opacity: 0.2;
}

.count.active > .count-bg,
.started .count.reps > .count-bg {
  opacity: 1;
}

.count.hang > .count-bg {
  background: #7CFFC4;
}

.count.rest > .count-bg {
  background: #6ABEA7;
}

.count.reps > .count-bg {
  background: #BDFFFD;
}

.count.recover > .count-bg {
  background: #9FFFF5;
}

.count > button {
  width: 10vw;
  height: 10vw;
  background: url(./images/arrow.svg) no-repeat center;
  background-size: contain;
}

.count > .down {
  transform: rotate(180deg);
}

.count > .value {
  flex: 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.count > .label {
  font-size: 4vw;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  padding: 5vw 0;
}

.app > button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toggle {
  width: 100vw;
  height: 30vh;
}

.started {
  width: 70vw;
}

.stopped .toggle {
  background: url(./images/play.svg) no-repeat center;
  background-size: 25vw;
}

.started .toggle {
  background: url(./images/stop.svg) no-repeat center;
  background-size: 25vw;
}

.countdown {
  font-size: 50vw;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
